
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shered styles */

.display-flex{
    display: flex;
}

.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}

/* color */
.header-bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.text-primary{
    color: #FF900E;
}
.dark1{
    color: #131313;
}



.dark2{
    color: #424242;
}


.dark3{
    color: #727272;
}

/* header section styles */

/* nav item related styles */
.nav-item{
    list-style: none;
    margin-left: 30px;
}

.nav-link{
    text-decoration: none;
    
}

.navbar{
    justify-content: space-between;
    align-items: center;
}


.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}


/* banner related styles */

.banner-content{
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}


/* main section style */
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
/* team section styles */
.team{
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-features{
    margin-left: 73px;
    max-width: 530px;
}

.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list{
    font-weight: 500;
}





/* respnsive  */

/* for mobile */

@media screen and (max-width:576px) {
    .navbar,
     .nav-links,
     .team {
        flex-direction: column;
    }

    .team-image{
        grid-template-columns: repeat(1, 1fr);
    }

    .team-features{
        margin-left: 20px;
    }
}

/* fot tablets */
@media screen and (min-width:577px) and (max-width:992px){
    .team{
        flex-direction: column;
    }

    .team-features{
        margin: 50px auto;
    }
}